<% provide(:title, 'Contact') %>
<div id="contact-jumbotron" class="text-center jumbotron">
  <div class="container">
    <h1>Got a question?</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Contact us!</h2>
      <div id="contact-well" class="well">
        <%= form_for @contact do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :message %>
            <%= f.text_area :message, rows: "7", class: 'form-control' %>
          </div>
          <%= f.submit 'Send', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>