<p id="notice"><%= notice %></p>

<div id="labs-index-jumborton" class="text-center jumbotron page-heading">
  <div class="container">
    <h1>Explore science labs!</h1>
  </div>
</div>

<div id="labs-index-list" class="container">
  <% @labs.each do |lab| %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="lab-card">
          <div class="featured-heading">
            <span class="lab-label"><a href="<%= lab.lab_website %>"><%= lab.lab_name %></span></a>
          </div>
          <div><span class="lab-label">Organization:</span> <a href="<%= lab.organization_website %>"><%= lab.organization %></a></div>
          <div><span class="lab-label">Participant location:</span> <%= lab.participant_location %></div>
          <div>
            <span class="lab-label">About the lab:</span>
            <%= lab.description %>
          </div>
          <div>
            <%= link_to "Learn more", lab.lab_website, class: "btn btn-lg btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

